<div class="vg-page page-service" id="services">
    <h1 class="text-center wow fadeInUp">{{'l-certificados'| translate}}</h1>
    <div class="container">
      <div class="row">
        <div *ngFor="let item of certificados" class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card card-body">
            <div class="iconic">
              <span [class]="item[1]"></span>
            </div>
            <h4 class="fg-theme">{{item[0] | translate}}.</h4>
            <p>{{item[2] | translate}}</p>
            <p>{{item[3] | translate}}</p>
            <a [href]="item[4]" target="_blank" class="btn btn-theme btn-rounded">{{'masDetalle' |  translate}}</a>
          </div>
        </div>    
      </div>
    </div>
    <div style="margin: 10px;" class="row center d-flex justify-content-center">
      <p>{{'certificadoInfo' | translate}} <a href="https://www.linkedin.com/in/dmarmijosa" target="_blank" class="btn btn-theme" >{{'clickAqui' | translate}}</a></p>
    </div>

  </div>