<!-- Setting button -->
<div class="config">
    <div class="template-config mr-3">
        <!-- Settings -->
        <div class="d-block">
            <button class="btn btn-fab btn-sm" id="sideel" [title]="'l-setting'| translate" ><span class="ti-palette"></span></button>
        </div>
        <!-- Puschase -->
        <div class="d-block">
            <a (click)="descargar()" class="btn btn-fab btn-sm" [title]="'l-descargar' | translate"
                data-toggle="tooltip" data-placement="left"><span class="ti-download"></span></a>
        </div>
        <!-- Help -->
        <div class="d-block">
            <button (click)="changeLanguage()" class="btn btn-fav btn-sm" [title]="'l-traducir'| translate" >
                <span class="fa-solid fa-globe"></span>
            </button>
        </div>
    </div>
    <div class="set-menu">
        <p>{{'l-seleccion'|translate}}</p>
        <div class="color-bar" data-toggle="selected">
            <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
            <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
            <span class="color-item bg-theme-green" data-class="theme-green"></span>
            <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
            <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
        </div>
    </div>
</div>

<div class="topbar-nav fixed-top">
    <h3 class="ml-1">Danny</h3>
    <button class="btn-fab toggle-menu mr-3"><span class="ti-menu"></span></button>
</div>