<div class="vg-page page-contact" id="contact">
  <h1 class="text-center fg-dark wow fadeInUp">{{'contacto.l-contacto' | translate}}</h1>
  <div class="container-fluid">
    <div class="row py-5">
      <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12225.302041377774!2d3.8347250228450056!3d40.00117608146698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be040aab08890f%3A0x8145a42f36707c1e!2sCiudadela%20de%20Menorca%2C%20Islas%20Baleares!5e0!3m2!1ses-419!2ses!4v1683935613036!5m2!1ses-419!2ses"
      width="600" height="450" style="border:0; margin: 0 auto;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="col-lg-5">
        <div class="vg-contact-form">
          <div class="form-row">
            <div class="col-12 wow fadeInUp">
              <input class="form-control" type="text" name="Name" [placeholder]="'contacto.nombre' | translate">
            </div>
            <div class="col-6 wow fadeInUp">
              <input class="form-control" type="text" name="Email" [placeholder]="'contacto.correo' | translate">
            </div>
            <div class="col-6 wow fadeInUp">
              <input class="form-control" type="text" name="Subject" [placeholder]="'contacto.tema' | translate">
            </div>
            <div class="col-12 wow fadeInUp">
              <textarea class="form-control" name="Message" rows="6"
                [placeholder]="'contacto.escribe' | translate"></textarea>
            </div>
            <a href="mailto:daniel2667@hotmail.es" target="_blank"
              class="btn btn-theme mt-3 wow fadeInUp ml-1">{{'contacto.btn-enviar' | translate}}</a>
            <a href="http://wa.me/34665719080" target="_blank"
              class="btn btn-theme mt-3 wow fadeInUp ml-1">{{'contacto.btn-whatsapp' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>