<div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">{{'l-portafolio'| translate}}</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">{{'l-conoceTrabajo' | translate}}</h1>
      <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
        <button class="btn btn-theme-outline" data-filter="*">{{'l-todos'| translate}}</button>
        <button class="btn btn-theme-outline" data-filter=".angular">Angular</button>
        <button class="btn btn-theme-outline" data-filter=".design">{{'l-design'| translate}}</button>
        <button class="btn btn-theme-outline" data-filter=".flutter">Flutter</button>
        <button class="btn btn-theme-outline" data-filter=".ui-ux">UI/UX</button>
        <button class="btn btn-theme-outline" data-filter=".MEAN">MEAN</button>
      </div>

      <div class="gridder my-3">
        <div class="grid-item angular wow zoomIn">
          <div class="img-place" data-src="./assets/img/work/app1.png" data-fancybox data-caption="<h5 class='fg-theme'><a href='https://rad-nasturtium-8020ea.netlify.app/' target='blank'> Gifs App</a> </h5> <p>Angular, HTML5, CSS</p>">
            <img src="./assets/img/work/app1.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{'portfolio.proyecto1' | translate}}</h5>
              <p>Angular, HTML5, CSS</p>
              
            </div>
          </div>
        </div>
        <div class="grid-item design ui-ux wow zoomIn">
          <div class="img-place" data-src="./assets/img/work/app8.png" data-fancybox data-caption="<h5 class='fg-theme'>Accessibility App</h5> <p>Design, HTML5, CSS, UI/UX</p>">
            <img src="./assets/img/work/app8.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{'portfolio.proyecto8' | translate}}</h5>
              <p>{{'l-design' | translate}}, HTML5, CSS, UI/UX</p>
            </div>
          </div>
        </div>
        <div class="grid-item design wow zoomIn">
          <div class="img-place" data-src="./assets/img/work/app7.png" data-fancybox data-caption="<h5 class='fg-theme'>Penguin Dashboard</h5> <p>Design, HTML5, CSS</p>">
            <img src="./assets/img/work/app7.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{'portfolio.proyecto7' | translate}}</h5>
              <p>{{'l-design' | translate}}, HTML5, CSS</p>
            </div>
          </div>
        </div>
        <div class="grid-item flutter design ui-ux wow zoomIn">
          <div class="img-place" data-src="./assets/img/work/app4.webp" data-fancybox data-caption="<h5 class='fg-theme'>Delivery App</h5> <p>Flutter, Design, UI/UX</p>">
            <img src="./assets/img/work/app4.webp" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{'portfolio.proyecto4' | translate}} Delivery App</h5>
              <p>Flutter, {{'l-design' | translate}}, UI/UX</p>
            </div>
          </div>
        </div>
        <div class="grid-item angular MEAN design wow zoomIn">
          <div class="img-place" data-src="./assets/img/work/app3.png" data-fancybox data-caption="<h5 class='fg-theme'> <a href='https://playful-clafoutis-91bae1.netlify.app' target='blank'> FCCE App</a></h5> <p>MongoDB,ExpressJS,Angular,NodeJS</p>">
            <img src="./assets/img/work/app3.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{'portfolio.proyecto3' | translate}}</h5>
              <p>MongoDB,ExpressJS,Angular,NodeJS</p>
            </div>
          </div>
        </div>

        <div class="grid-item angular design wow zoomIn">
          <div class="img-place" data-src="./assets/img/work/app5.png" data-fancybox data-caption="<h5 class='fg-theme'>Yard App</h5> <p>Angular, Firebase, HTML, CSS</p>">
            <img src="./assets/img/work/app5.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{'portfolio.proyecto5' | translate}}</h5>
              <p>Angular, Firebase, HTML, CSS</p>
            </div>
          </div>
        </div>
      </div> <!-- End gridder -->
      <div class="text-center wow fadeInUp">
        <a href="https://github.com/dmarmijosa" class="btn btn-theme">{{'masDetalle' | translate}}</a>
      </div>
    </div>
  </div> 