<div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <div class="img-place wow zoomIn">
          <img src="../assets/img/perfil.png" alt="Photo Profile">
        </div>
      </div>
      <div class="col-md-6">
        <div class="caption wow fadeInRight">
          <h2 class="fg-dark">Danny Armijos</h2>
          <p class="fg-theme fw-medium">Full-Stack MEAN Developer</p>
          <p>"{{'about.presentation'| translate}}"</p>
          <ul class="theme-list">
            <li class="fg-dark"><b>From:</b> Texas, US</li>
            <li class="fg-dark"><b>Lives In:</b> Texas, US</li>
            <li class="fg-dark"><b>Age:</b> 25</li>
            <li class="fg-dark"><b>Gender:</b> Male</li>
          </ul>
          <button class="btn btn-theme btn-rounded">Download CV</button>
        </div>
      </div>
    </div>
  </div>