<div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <div class="img-place wow zoomIn">
          <img src="./assets/img/perfil.png" alt="Photo Profile">
        </div>
      </div>
      <div class="col-md-6">
        <div class="caption wow fadeInRight">
          <h2 class="fg-dark">Danny Armijos</h2>
          <p class="fg-theme fw-medium">Full-Stack MEAN Developer</p>
          <p>"{{'about.presentation'| translate}}"</p>
          <ul class="theme-list">
            <li class="fg-dark"><b>{{'about.from' | translate}}:</b> Ciutadela de Menorca, {{'about.spain'| translate}}</li>
            <li class="fg-dark"><b>{{'about.l-idiomas' | translate}}:</b> {{'about.idiomas'| translate}}</li>
            <li class="fg-dark"><b>{{'about.edad'| translate}}:</b> {{nacimiento}}</li>
            <li class="fg-dark"><b>{{'about.l-genero' | translate}}:</b> {{'about.genero'| translate}}</li>
          </ul>
          <a (click)="descargar()" class="btn btn-theme btn-rounded">{{'about.Descargar' | translate}} <span *ngIf="data != 'en'">Español</span> <span *ngIf="data==='en'">English</span></a>
        </div>
      </div>
    </div>
  </div>