<div class="vg-page page-home" id="home" style="background-image: url(./assets/img/bg_image_2.jpg);">
    <div class="caption wow zoomInUp mt-4">
        <img class="rounded-circle shadow-4-strong center" alt="avatar2" [src]="'../assets/img/profile.jpg'" width="220px">
        <h1 class="fw-normal">{{'home.welcome'| translate}}</h1>
        <div class="d-flex justify-content-center align-items-center" >
            <div class="text-center ">
                <h2 class="fw-medium fg-theme">{{ 'home.yo-soy' | translate }}<span class="name"> Danny Armijos</span></h2> 
            </div>
          </div>

        <div class="row center d-flex justify-content-center">
            <p class="tagline margin-r"><i class="fa-brands fa-angular"></i> {{'home.front-end' | translate}}</p>
            <p class="tagline"> <i class="fa-brands fa-node-js"></i> {{'home.back-end' | translate}}</p>
        </div>
        <div class="row">
            <p class="tagline margin-r"><i class="fa-solid fa-mobile"></i> {{'home.movil' | translate}}</p>
            <p class="tagline "><i class="fa-solid fa-chart-simple"></i> {{'home.asesoria' | translate}}</p>
        </div>
        <div class="row">
            <a href="https://github.com/dmarmijosa" target="_blank"><i class="fa-brands fa-github f-size margin-l"></i></a>
            <a href="https://www.linkedin.com/in/dmarmijosa/" target="_blank"><i class="fa-brands fa-linkedin-in f-size margin-l"></i></a>
            <a href="https://www.facebook.com/daniel2667" target="_blank"><i class="fa-brands fa-facebook f-size margin-l"></i></a>
            <a href="https://www.instagram.com/danny.armijos/" target="_blank"><i class="fa-brands fa-instagram f-size margin-l"></i></a>
        </div>
        
    </div>
</div>