<div class="vg-page page-home" id="home" style="background-image: url(./assets/img/bg_image_2.jpg);">
    <div class="caption wow zoomInUp mt-4">
        <img class="rounded-circle shadow-4-strong center" alt="avatar2" [src]="'../assets/img/profile.jpg'" width="220px">
        <h1 class="fw-normal">{{'home.welcome'| translate}}</h1>
        <div class="d-flex justify-content-center align-items-center" >
            <div class="text-center ">
                <h2 class="fw-medium fg-theme">{{ 'home.yo-soy' | translate }}<span class="name"> Danny Armijos</span></h2> 
            </div>
          </div>

        <div class="row center d-flex justify-content-center">
            <p class="tagline margin-r">{{'home.front-end' | translate}}</p>
            <p class="tagline">{{'home.back-end' | translate}}</p>
        </div>
        <p class="tagline">{{'home.movil' | translate}}</p>
    </div>
</div>