<div class="container mt-5">
  <h1 class="text-center fg-dark wow fadeInUp">{{'skills.mySkills' | translate}}</h1>

  <div class="row py-3">
    <div class="col-md-6">
      <div class="progress-wrapper wow fadeInUp">
        <ul class="list-group list-group-flush">
          <li *ngFor="let item of datos1" class="list-group-item">
            <span class="caption">{{item |  translate }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="progress-wrapper wow fadeInUp">
        <ul class="list-group list-group-flush">
          <li *ngFor="let item of datos2" class="list-group-item">
             <span class="caption">{{item | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>