<div class="vg-page p-0" id="testimonial">
    <div class="owl-carousel testi-carousel" style="background-image: url(../assets/img/photo-2.jpg);">
        <div class="item">
            <p>{{'testimonials.johanna.descripcion' | translate}}</p>
            <span class="iconic">
                <img class="rounded-circle" src="./assets/img/testimonials/johanna.jpeg">
                
            </span>
            <h4>{{'testimonials.johanna.nombre' | translate}}</h4>
        </div>
        <div class="item">
            <p>{{'testimonials.anais.descripcion' | translate}}</p>
            <span class="iconic">
                <img class="rounded-circle" src="./assets/img/testimonials/anais.jpeg">
            </span>
            <h4>{{'testimonials.anais.nombre' | translate}}</h4>
        </div>
        <div class="item">
            <p>{{'testimonials.diego.descripcion' | translate}}</p>
            <span class="iconic">
                <img  class="rounded-circle" src="./assets/img/testimonials/diego.jpeg">
            </span>
            <h4>{{'testimonials.diego.nombre' | translate}}</h4>
        </div>
    </div>
</div>