<div class="vg-footer">
  <h1 class="text-center">Danny Armijos</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>{{'footer.seguirme' | translate}}</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li><i class="fa-brands fa-github margin-r"></i><a href="https://github.com/dmarmijosa"
                target="_blank">GitHub</a></li>
            <li><i class="fa-brands fa-linkedin-in  margin-r"></i><a href="https://www.linkedin.com/in/dmarmijosa/"
                target="_blank">Linkedin</a></li>
            <li><i class="fa-brands fa-facebook margin-r"></i><a href="https://www.facebook.com/daniel2667"
                target="_blank">Facebook</a></li>
            <li><i class="fa-brands fa-instagram margin-r"></i><a href="https://www.instagram.com/danny.armijos/"
                target="_blank">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>{{'footer.contactame' | translate}}</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li>daniel2667@hotmail.es</li>
            <li>+347665719080</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
 
      <div class="col-12">
        <p class="text-center mb-0 mt-4">Copyright &copy;{{year}}. All right reserved </p>
      </div>
    </div>
  </div>
</div>